@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: auto;
}

/* LAYOUT */
main {
  position: relative;
  min-height: 95%;
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  display: flex;
}

.player {
  background-color: rgba(255, 255, 255, 0.3);
  flex: 50%;
  padding: 11rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  width: 45rem;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.65);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  margin-top: 2rem;
  padding: 2rem 3rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  z-index: 50;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn:disabled {
  background: rgba(140, 140, 139, 0.6);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 3rem;
}
.btn--roll {
  bottom: 9rem;
}
.btn--hold {
  bottom: 3rem;
}

.btn:active {
  transform: translate(-50%) scale(105%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

button:active {
  transform: scale(105%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  z-index: 60;
}
.dice-image {
  height: 10rem;
}

.player.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-height: calc(100vh - 20%);
  background: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  padding: 6rem;
  border-radius: 1.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-btn {
  color: #2f2f2f;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.register-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  color: white;
  font-size: 1.25rem;
}

.register-form .description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.register-form .description h2 {
  font-size: 2.5rem;
  text-align: center;
}
.register-form .description h3 {
  font-size: 1.8rem;
  /* text-align: center; */
}
.register-form h4 {
  font-size: 1.75rem;
  text-align: center;
}

.modal-inputs {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.modal input {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 0;
}

.modal-buttons {
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.hidden {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 0.5s linear;
}

@media (max-width: 992px) {
  :root {
    font-size: 45%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 40%;
  }
  body {
    align-items: stretch;
  }
  main {
    width: 100%;
    box-shadow: none;
    backdrop-filter: none;
  }
  .player {
    padding: 10rem 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 2rem), calc(-50% - 2rem));
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    z-index: 20;
    background: #dcb7c5;
    width: 40rem;
  }
  .player:not(.player--active) {
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 2rem), calc(-50% + 2rem));
    z-index: 10;
  }
  .dice {
    top: 50%;
    transform: translate(calc(-50% - 2rem), calc(-50% - 2rem));
  }
  .modal-inputs {
    flex-direction: column;
  }
  .btn--new {
    top: 8rem;
  }
  .btn--roll {
    bottom: 16rem;
  }
  .btn--hold {
    bottom: 8rem;
  }
}
